.container{
    background-color: #d9cfff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grupoContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    width: 100px;

}

.formLogin{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 10px;
}

.input{
    width: 100%;
	background: #fff;
	border-radius: 2px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	border: 3px solid transparent;
}